.modal-image-maxi {
    width: 120%;
    height: 120%;
    object-fit: cover;
}

.modal-image-normal {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal-image-potatoes {
    width: 100%;
    height: 100%;
    
}