.modal-image-maxi {
    width: 120%;
    height: 120%;
    object-fit: cover;
}

.modal-image-normal {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal-image-potatoes {
    width: 100%;
    height: 100%;
    
}

.modal-image-50 img{
    width: 120%;
    height: 120%;
    object-fit: cover;
}

.modal-image-30 img {
    width: 70%;
    height: 70%;
    object-fit: cover;
}
